/* header */

body{

  background-color: rgb(255, 255, 255);


  
}


.container{
  display: flex;
  flex-direction: column;
margin: 0;
  width: 500px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
.flavor-header
{margin-bottom: 25px;
  border-bottom: 2px solid rgba(254, 127, 0, 0.953);

width: 500px;
height: 180px;
align-items: center;
}



.name ,.title{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: orange;
}
.description,
.flavors{
font-size: 14px;
color: dimgray;

}
.price{ font-size: 12px;
    color: orange;
}


.add-btn{
width: 25px;
height: 25px;
background-color: white;
border-radius: 50%;
border: .5px solid orange;
margin-top: 15px;
}
.add-btn:hover{

  background-color: orange;
}

.order-items{
text-align: center;
  line-height: 40px;
    padding: 15px;
      margin: 0 auto;
     padding-bottom: 20px;
  
}

.purchase-btn{
  display: block;
color: rgb(37, 36, 36);
background-color: orange;
width: 100%;
padding: 12px;
border-radius: 10px;
border: .1px solid orange;

}

.purchase-btn:hover {
  color: rgb(37, 36, 36);
  background-color: rgba(255, 166, 0, 0.697);
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: .1px solid orange;

}

.image-logo{
position: relative;
margin-left: 180px;
}

span{
  padding-right: 20px;
}


ul{
line-height: 20px;
  list-style: none;
  text-align: center;
}

hr{

  width: 100%;
}
/* checkout section */

/* 
position: absolute;
width: 508px;
height: 319px;
left: 46px;
top: 789px; */




/* payment-modal */


/* position: absolute;
width: 524px;
height: 542.24px;
left: 38px;
top: 292px;

filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5)); */



/* item-1 */
/* 

position: absolute;
width: 508px;
height: 140px;
left: 46px;
top: 234px; */








/* 
purchase button
position: absolute;
width: 508px;
height: 60px;
left: 46px;
top: 1048px;

background: #16DB99;
/* shadow/sm */

/* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 3px; */ 